@font-face {
    font-family: "Minecraft";
    src: url("assets/minecraft.ttf");
}

.author {
    display: flex;
    width: 70%;
    align-content: center;
    margin: auto;
}

.author_desc {
    text-align: left;
    padding: 10px; 
    font-size: 16pt;
}

.author_desc h2 {
    text-decoration: underline;
    text-decoration-color: #13294b;
}

.author_image {
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}
.author_image:hover {
    box-shadow: 5px 6px 10px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.5) rotateZ(5deg);
    -ms-transform: scale(1.5) rotateZ(5deg);
    transform: scale(1.5) rotateZ(5deg);
    transition:all 0.3s ease;
    z-index: 1000;
}

.author_image:not(:hover) {
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    transition:all 0.3s ease;
}

#board {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}

#board td {
    border: 1px dotted black;
    width: 27px;
    height: 27px;
    font-family: 'Minecraft';
    font-size: 22px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-size: 25px;
    color: white;
}

body {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    color: #13294b;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    font-size: 18px;
    width: 150px;
    padding: 10px 30px 10px 30px;
    margin: 10px auto 10px auto;
    background-color: #13294b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-shadow: 3px 3px black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:all 0.3s ease;
}

button:not(:hover) {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    transition:all 0.3s ease;
}

button:active {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    transition:all 0.01s ease;
}

.cave {
    background-image: url("assets/stone.jpg")
}

div {
    text-align: center;
    margin: 0px

}

.flag {
    height: 19px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
}

footer {
    background-color: #13294b;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > p {
    color: white;
}

h1, h2 {
    font-size: 100px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 2px #13294b;
    cursor: default;
}

h2 {
    font-size: 50px;
    margin-bottom: 15px;
}

h3 {
    margin-top: 0px;
}

header {
    display: flex;
    height: 110px;
    vertical-align: middle;
    background: #c8102e;
}

header > img {
    margin-left: auto;
    margin-right: auto;
}

.header_left {
    height: 0px;
    margin-left: 10px;
}

.header_right {
    height: 0px;
    margin-right: 10px;
}

hr {
    width: 70%;
}

input[type="textbox"], input[type="password"] {
    margin: 10px;
    height: 30px;
    width: 80%;
    text-align: center;
    background-color: whitesmoke;
}

.instructions {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-weight: bold;
    list-style: circle;
    font-size: 25px;
}

#leaderboard_display {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#leaderboard_display h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#leaderboard_display table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#leaderboard_display table td {
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
}

#leaderboard_display table th {
    color: white;
    border: 1px solid black;
    background-color: #13294b;
    padding: 5px;
    width: fit-content;
}

.login_card {
    color: white;
    background-color: #13294b;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    padding: 20px;
    text-shadow: 3px 3px black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.main_button {
    font-size: 30px;
    width: 30%;
}

.overworld {
    background-image: url("assets/grass.jpg");
}

.th_button {
    font-size: 10px;
    width: 25px;
    padding: 0 2px 4px 2px;
    margin: 10px auto 10px auto;
    background-color: whitesmoke;
    color:#13294b;
    border: none;
    border-radius: none;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-shadow: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.theme_select {
    margin-right: 10px;
    margin-left:10px;
}

.theme_select:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:all 0.3s ease;
    cursor: pointer;
}

.theme_select:not(:hover) {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    transition:all 0.3s ease;
}

.theme_select:active {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    transition:all 0.01s ease;
}


#user_info {
    color: white;
    margin-top: 0px;
}