.author {
    display: flex;
    width: 70%;
    align-content: center;
    margin: auto;
}

.author_desc {
    text-align: left;
    padding: 10px; 
    font-size: 16pt;
}

.author_desc h2 {
    color: #13294b;
    text-decoration: underline;
}

.author_image {
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}
.author_image:hover {
    box-shadow: 5px 6px 10px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.5) rotateZ(5deg);
    -ms-transform: scale(1.5) rotateZ(5deg);
    transform: scale(1.5) rotateZ(5deg);
    transition:all 0.3s ease;
    z-index: 1000;
}

.author_image:not(:hover) {
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    transition:all 0.3s ease;
}

#board {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}

#board td {
    border: 2px dotted black;
    width: 30px;
    height: 30px;
    background-image: url("assets/grass.jpg");
    background-size: 30px;
}

body {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    padding: 10px 30px 10px 30px;
    margin: 10px auto 10px auto;
    background-color: #13294b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3px 3px black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/******************************** cool button blowup stuff */
button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:all 0.3s ease;
}

button:not(:hover) {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    transition:all 0.3s ease;
}
/*********************************/

div {
    text-align: center;
    margin: 0px

}

footer {
    background-color: #13294b;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > p {
    color: white;
}

h1 {
    font-size: 100px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 2px #13294b;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    cursor: default;
}

header {
    display: block;
    background: #c8102e;
    text-align: center;
    margin: 0px
}

header > a {
    top: 20px;
    right: 20px;
    padding: 10px 20px;
}

hr {
    width: 70%;
}

.instructions {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-weight: bold;
    list-style: circle;
    font-size: 25px;
    
}

#login {
    position: absolute;
    top: 5px;
    right: 5px
}

#login_button {
    font-size: 18px;
}

#mascot {
    position: absolute;
    left: 10px;
}

.main_button {
    font-size: 30px;
    width: 30%;
}